*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    border: 2px solid red;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    
}
h1{
    font-weight: bold;
    position: absolute;
    top: 40px;
}
.btn{
    margin: 23px 34px;
    width: 56px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 195, 255, 0.945);
    font-weight: bold;
    cursor: pointer;
}
h3{
    margin: 20px;
}